/* General */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    --main-color: #0ea5e9;
    --sub-color: #e5e7eb;
}

body {
    height: 100vh;
    width: auto;
}

h1 {
    font-size: 2.4rem;
    color: white;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

/* Blocks */

body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 85%;
}

aside {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 6fr;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    padding: 10px;
    background-color: var(--main-color);
}

    .nav-item {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    aside > div {
        display: flex;
        align-items: center;
    }

    aside li {
        padding-bottom: 20px;
    }

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-bottom: 2px solid rgb(135, 135, 135);
    padding: 10px 40px;
}

    .search-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .search-bar {
            flex-grow: 8;
        }

        .user-settings {
            display: flex;
            flex-grow: 2;
            justify-content: space-around;
            align-items: center;
        }

    .user-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .profile-message-container {
            display: flex;
            gap: 20px;
            flex-grow: 9;
            align-items: center;
        }

            .profile-message {
                display: flex;
                flex-direction: column;
                justify-content: start;
            }

        .user-actions {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
        }

main {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 5.5fr 4.5fr;
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    gap: 20px;
    padding: 25px 25px 60px 15px;
    background-color: var(--sub-color);
}

    section article {
        background-color: white;
        border: 1px solid transparent;
        border-radius: 1rem;
    }

    .projects {
        display: grid;
        grid-template-rows: 2rem 1fr;
        grid-column: 1 / 2;
        grid-row: 1 / -1;
    }

        .projects-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 20px;
            padding: 10px 0 0;
        }

            .projects-container article {
                border-left: 8px solid rgb(255, 176, 59);;
                padding: 20px 15px 20px;
            }

        .project-actions {
            display: flex;
            justify-content: end;
            gap: 20px;
        }

    .announcements {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
    }

        .announcements-container {
            padding: 10px 0 0;
        }

            .announcements-container article {
                display: flex;
                flex-direction: column;
                padding: 20px;
            }

                .announcements article > div:not(:last-child) {
                    padding-bottom: 15px;
                    border-bottom: 1px solid gray;
                }

                .announcements article > div:not(:first-child) {
                    padding-top: 15px;
                }

    .trending {
        grid-column: 2 / -1;
        grid-row: 2 / -1;
    }

        .trending-container {
            padding: 10px 0 0;
        }

            .trending article {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px;
            }

                .trending-item {
                    display: flex;
                    gap: 10px;
                }

/* Elements */

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 2rem;
    color: white
}

aside > div > svg,
.profile-message-container svg {
    height: auto;
    width: 50px;
}

.nav-icon {
    padding-left: 10px;
}

aside nav svg,
.search-container svg,
.configs svg,
.projects svg {
    height: auto;
    width: 20px;
}

aside div svg {
    margin-right: 10px;
}

.trending svg,
.circular_icon_sm svg {
    height: auto;
    width: 30px;
}

button {
    background-color: transparent;
    border: none;
}

/* Modifiers */

aside svg path {
    margin: 0;
    fill: white;
}

.circular_icon {
    border: 1px solid transparent;
    border-radius: 50%;
}

.dog-icon {
    background-color: rgb(136, 255, 237);
}

    .dog-icon path {
        fill: rgb(255, 122, 235);
    }

.cat-icon {
    background-color: rgb(236, 209, 2);
}

    .cat-icon path {
        fill: rgb(248, 247, 224);
    }

.rabbit-icon {
    background-color: rgb(190, 190, 190);
}

    .rabbit-icon path {
        fill: rgb(255, 176, 59);
    }

.owl-icon {
    background-color: rgb(249, 124, 251);
}

    .owl-icon path {
        fill: rgb(186, 255, 133);
    }

.user-actions_button {
    color: white;
    background-color: var(--main-color);
    border: 1px solid  var(--main-color);
    border-radius: 2rem;
    padding: 5px 20px;
    width: 85px;
}